<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create your puppy</h1>
    <form method="POST" action="/display">
      Puppy Name: <input type="text" name="name">
      Puppy Age: <input type="text" name="age">
      Puppy Breed: <input type="text" name="breed">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
